/* Header avec logo */
.gmb-header {
  padding: 30px 54px !important;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdcde;
  background-color: var(--color-green-100);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  .gmb-logo {
    flex-shrink: 0;

    svg {
      display: block;
      width: 50px;
      height: 50px;
    }
  }

  h1 {
    margin: 0;
    flex: 1;
    font-weight: 700;
  }

  .infos {
    margin: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 12px;

      li {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--color-green-800);

        a {
          text-decoration: none;
          color: var(--color-green-800);
          font-size: 14px;
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}