// Wrapper containing the swiper, buttons and pagination
.gmb-reviews-swiper-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
  padding: 0;

  @media (min-width: map-get($breakpoints, tablet)) {
    padding: 0 32px;
  }

  // Static layout (no Swiper)
  &.gmb-static-layout {

    .swiper-wrapper {
      justify-content: center;
    }

    .swiper-slide {
      width: 100% !important;
      cursor: default;
      margin: 0 !important;

      @media (min-width: map-get($breakpoints, tablet)) {
        max-width: 1000px;
      }
    }
  }
}

// Swiper container
.gmb-reviews-swiper {
  width: 100%;
  overflow: hidden;
  border-radius: var(--gmb-radius-card);

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    box-sizing: border-box;
    cursor: grab;

    // Ensure slides take full width
    .gmb-review-card {
      width: 100%;
    }
  }
}

// Force full width slides when showing 1 at a time (2 slides case)
.gmb-reviews-swiper-wrapper[data-slide-count="2"] {
  @media (min-width: map-get($breakpoints, tablet)) {
    max-width: 1000px;
  }

  .gmb-reviews-swiper .swiper-slide {
    width: 100% !important;
  }
}

// Navigation
.gmb-swiper-button-prev,
.gmb-swiper-button-next {
  content: "";
  display: none;
  mask-size: contain !important;
  mask-repeat: no-repeat !important;
  width: 18px;
  height: 18px;
  padding: 12px;
  background-color: var(--gmb-color-accent);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='m7.44 19 7-7-7-7L8.5 3.94l7.53 7.53a.75.75 0 0 1 0 1.06L8.5 20.06 7.44 19Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  @media (min-width: map-get($breakpoints, tablet)) {
    display: inline-block;
  }
}

.gmb-swiper-button-prev {
  left: 0;
  transform: scaleX(-1);
}

.gmb-swiper-button-next {
  right: 0;
}

// Pagination
.gmb-swiper-pagination {
  position: absolute !important;
  bottom: -32px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: auto !important;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: var(--gmb-color-accent);
    opacity: 0.3;
    transition: all 0.3s ease;
    margin: 0 4px;

    &-active {
      background-color: var(--gmb-color-accent);
      opacity: 1;
    }
  }
}