.accordion-details {
  margin-top: 12px;
  cursor: pointer;

  summary {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 6px 0;
    color: var(--color-green-800);
  }

  p {
    margin: 0;
  }
}