.gmb-pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  .page-numbers {
    display: inline-flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
    }

    a,
    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      height: 24px;
      padding: 8px 12px;
      border-radius: var(--radius-md);
      background: var(--color-grey-100);
      color: var(--color-green-800);
      text-decoration: none;
      font-weight: 500;
      transition: all 200ms ease-out;
    }

    a {
      &:hover {
        background: var(--color-grey-200);
        color: var(--color-green-800);
      }

      &:focus {
        box-shadow: 0 0 0 2px var(--color-grey-200);
      }
    }

    .current {
      background: var(--color-green-800);
      color: #FFF;
    }

    .dots {
      background: transparent;
      pointer-events: none;
    }

    .prev,
    .next {
      font-weight: 600;
    }
  }
}