.gmb-wrap {
  .wp-list-table {
    border-radius: 12px;
    overflow: hidden;
    border: none;

    thead {
      background-color: var(--color-grey-100);
    }

    th {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      border: 0;
    }

    th, td {
      padding: 12px;
      vertical-align: middle;

      .profil-picture {
        width: 40px;
        height: 40px;
      }

      .profil-letters {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--color-grey-100);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }

      .gmb-job-input {
        width: 100%;
      }
    }
  }
}

.config-table {
  background-color: #F5F6F7;
  border-radius: 12px;
  text-align: left;
  overflow: hidden;
  border: 1px solid #e1e1e8;
  margin: 12px 0;

  table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
  }

  th, td {
    border: 1px solid #e1e1e8;
    padding: 8px;
    vertical-align: top;
  }

  p {
    margin: 0;
  }
}