@import 'variables';
@import 'root';

@import 'admin/layout/usage';

@import 'admin/components/sidebar';
@import 'admin/components/button';
@import 'admin/components/card';
@import 'admin/components/notice';
@import 'admin/components/table';
@import 'admin/components/form';
@import 'admin/components/pagination';
@import 'admin/components/header';
@import 'admin/components/categories_checkboxes';
@import 'admin/components/accordion';


.gmb-wrap, .wrap {
  margin: 0 0 0 -20px;

  h1, h2, h3, h4 {
    color: var(--color-green-800);
  }

  h4 {
    margin: 1.8em 0 1em 0;
  }

  h4 {
    font-size: 1rem;
  }

  p, li {
    color: var(--color-grey-800);
    font-size: 0.9rem;
  }

  .description {
    font-size: 12px;
    font-weight: 400;
  }
}

/* Main container */
.gmb-container {
  display: flex;
  flex-direction: column;
  margin: 20px !important;

  .section {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &.row {
      flex-direction: row;
    }
  }

  .top-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 46px;

    .head {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    p {
      margin: 0;
    }
  }

  &.full-screen {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card {
      text-align: center;

      .button-wrapper {
        justify-content: center;
      }
    }
  }
}

.title {
  text-align: center;
  margin: 32px 0;

  h2 {
    font-size: 2rem;
    line-height: 100%;
    margin: 0;
  }
}

/* Responsive */
@media screen and (max-width: 782px) {
  .gmb-admin-container {
    flex-direction: column;
  }

  .gmb-admin-sidebar {
    width: 100%;
  }

  .gmb-tabs-nav {
    flex-direction: row;
    overflow-x: auto;
  }

  .gmb-tab-button {
    white-space: nowrap;
  }
}