@import 'variables';

// Import Swiper CSS
@import '../../node_modules/swiper/swiper.min.css';
@import '../../node_modules/swiper/modules/navigation.min.css';
@import '../../node_modules/swiper/modules/pagination.min.css';

@import 'frontend/layout/slider';

@import 'frontend/components/review_card';
@import 'frontend/components/notice';
@import 'frontend/components/modal';